#expense-details {
  position: absolute;
  z-index: 200;
  width: 310px;
  height: 370px;
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  display: none;
}

#details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.blur-bg {
  position: absolute;
  z-index: 110;
  width: 150vw;
  height: 150vh;
  backdrop-filter: blur(10px);
  display: none;
}

#expense-details .details-expense {
  font-family: 'Circe Rounded Alt', sans-serif;
  font-size: 1.3rem;
}

#expense-details p {
  font-family: Arial, sans-serif;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

#expense-details #edit {
  width: 275px;
  padding: 10px;
  background-color: #68BB69;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
}

#expense-details #del {
  width: 275px;
  padding: 10px;
  background-color: #272B2C;
  color: white;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
}

#expense-details #edit:hover {
  box-shadow: 3px 3px 0px black;
}

#expense-details #del:hover {
  box-shadow: 3px 3px 0px black;
}






