.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  z-index: 100;
  background-image: url('/images/backgroundImage/bgheader.JPG');
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: cover;

}

.header .burger {
  height: 30px;
  padding-top: 10px 10px 20px 10px;
}

#logo, #burger {
  padding: 10px 10px 10px 10px;
}

#logo-name {
  font-size: 0.9rem;
}

#logo img {
  height: 30px;
}

